extends layout.pug

block title
  title Signup

block content
  .columns.is-centered.is-marginless
    .column.is-one-third
      .field
        h1.has-text-white.has-text-centered.has-text-weight-bold.has-background-link.subtitle.box ACCOUNT REGISTRATION
        p.has-text-centered.has-text-weight-bold Please fill in this form to create an account
      if message.length > 0
        .box.has-background-danger.has-text-weight-bold= message
      form#form_id.box(action="/signup", method="post")
        .field
          label.label.has-text-link(for="firstname") Firstname
          .control.has-icons-left
            input.input.is-medium.is-info(id="firstname", type="text", name="first_name", placeholder="ex: John")
            span.icon.is-left
              i.fas.fa-user.has-text-link
          span#fnerr.has-text-danger.has-text-weight-semibold
        .field
          label.label.has-text-link(for="surname") Surname
          .control.has-icons-left
            input.input.is-medium.is-info(id="surname", type="text", name="last_name", placeholder="ex: Doe")
            span.icon.is-left
              i.fas.fa-user.has-text-link
          span#lnerr.has-text-danger.has-text-weight-semibold
        .field
          label.label.has-text-link(for="email") E-Mail
          .control.has-icons-left
            input.input.is-medium.is-info(id="email", type="email", name="email", placeholder="email@example.com")
            span.icon.is-left
              i.fas.fa-envelope.has-text-link
          span#emerr.has-text-danger.has-text-weight-semibold
        .field
          label.label.has-text-link(for="password") Password (8 characters minimum)
          .control.has-icons-left
            input.input.is-medium.is-info(id="password", type="password", name="password", minlength="8", placeholder="****************")
            span.icon.is-left
              i.fas.fa-lock.has-text-link
          span#pwerr.has-text-danger.has-text-weight-semibold
        .field
          label.label.has-text-link(for="confirmpassword") Confirm Password
          .control.has-icons-left
            input.input.is-medium.is-info(id="confirmpassword", type="password", name="password_confirm", placeholder="****************")
            span.icon.is-left
              i.fas.fa-lock.has-text-link
          span#cpwerr.has-text-danger.has-text-weight-semibold
        .field
          label.label.has-text-link(for="phonenum") Mobile Number
          .control.has-icons-left
            input.input.is-medium.is-info(id="phonenum", type="tel", name="main_num", placeholder="ex: 07010001000")
            span.icon.is-left
              i.fas.fa-mobile-alt.has-text-link
          span#mnerr.has-text-danger.has-text-weight-semibold
        hr.navbar-divider
        .field
          .control
            button#signupbtn.button.is-link.has-text-weight-bold.is-large.is-fullwidth.box(type="button") REGISTER
      .field
        p.has-text-centered.has-text-weight-bold Already have an account? #[a(href="/login") #[strong Login]]